.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  text-align: center;
}

.image {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  width: 60px;
  height: 60px;
  padding: 10px;
}
.image img {
  width: 100%;
}

.card h4 {
  font-size: 1.2rem;
  color: white;
}