.main {
  padding: 20px 10px;
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: #1d1d1f;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #E7E7EA;
}

.description h2 {
  font-size: 2.7rem;
}

.description p {
  font-weight: 400;
  font-size: 1.8rem;
}

.description p strong {
  font-size: 18px;
  color: #FBCC6D;
}

.rol {
  font-weight: 200;
}

.photo-container {
  min-width: 100px;
  max-width: 150px;
}

.photo-container img {
  width: 100%;
  border-radius: 100%;
}

