/* ESTILOS SECCION DE EXPERIENCIA */
.experience-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  background-color: var(--bg-color);
}

.experience-container:nth-child(1n) {
  padding-top: 20px;
}

.experience-title-container {
  position: absolute;
  top: -16px;
  display: inline-block;
  width: 100%;
  text-align: center;
  font-family: var(--font);
  font-size: 2.4rem;
  color: var(--primary);
}