* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: var(--font);
}

:root {
  --font: 'Montserrat Alternates', sans-serif;
  --primary: #FBCC6D;
  --secondary: #00D8FF;
  --bg-color: #1d1d1f;
  --bg-color-container: #34353A;

}


body {
  background-color: #34353A;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.layout {
  width: 85%;
  margin: 0 auto;
}